@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Rubik", sans-serif;

}

:root {
  background-color: #fafafa;
}

.bg_slider {
  --initialTextColor: #FFF;
  --slideTextColor: #ffffff;

  --initialBgColor: #F7B614;
  --slideBgColor: #000000;

  color: var(--initialTextColor);

  background-image: linear-gradient(90deg,
      var(--initialBgColor) 0%,
      var(--initialBgColor) 50%,
      var(--slideBgColor) 50%,
      var(--slideBgColor) 100%);
  background-size: 200%;
  transition: background-position .2s cubic-bezier(.47, .1, 1, .63),
    color .2s linear;
  transition-delay: 0.0s, 0.11s;
}

.bg_slider:hover {
  color: var(--slideTextColor);
  cursor: pointer;
  background-position: -100% 100%;
}

.bg_slider2 {
  --initialTextColor: #000000;
  --slideTextColor: #000000;

  --initialBgColor: #F7B614;
  --slideBgColor: #ffffff;

  color: var(--initialTextColor);

  background-image: linear-gradient(90deg,
      var(--initialBgColor) 0%,
      var(--initialBgColor) 50%,
      var(--slideBgColor) 50%,
      var(--slideBgColor) 100%);
  background-size: 200%;
  transition: background-position .2s cubic-bezier(.47, .1, 1, .63),
    color .2s linear;
  transition-delay: 0.0s, 0.11s;
}

.bg_slider2:hover {
  color: var(--slideTextColor);
  cursor: pointer;
  background-position: -100% 100%;
}